.loginContainer{
    width: 100%;
    height: 80vh;
    display: flex;
}

.loginBoxUser{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/login/bgLoginUser.png');
    transition: 0.8s;
    cursor: pointer;
    position: relative;
}

.loginBoxProvider{
    width: 50%;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/login/bgLoginProvider.png');
    transition: 0.8s;
    cursor: pointer;
}

.loginBoxProvider h3{
    font-family: var(--font-bold);
    font-size: 40px;
    color: var(--white);
    margin: 6px 55px;
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: var(--orange);
    padding: 35px;
    border-radius: 120px;
    box-shadow: 4px 4px 8px #5e5c5c;
    display: flex;
    align-items: center;
    gap: 20px;
}

.loginBoxUser h3{
    font-family: var(--font-bold);
    font-size: 40px;
    color: var(--white);
    margin: 6px 55px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: var(--blue);
    padding: 35px 65px;
    border-radius: 120px;
    box-shadow: 4px 4px 8px #313030;
    display: flex;
    align-items: center;
    gap: 20px;
}


.loginBoxUser:hover{
    width: 80%;
    transition: 0.8s;
}

.loginBoxProvider:hover{
    width: 80%;
    transition: 0.8s;
}