.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarContainer img{
    width: 300px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.navLinkContainer{
    display: flex;
    gap: 25px;
    font-family: var(--font);
}

.navLink{
    text-decoration: none;
    gap: 25px;
    color: var(--blue);
}